<div class="main-screen">
    <div class="main__products-list">
        <div class="main__actions-container">
            <input type="text" class="main__input-search" />
            <button class="button-primary">
                Agregar
            </button>
        </div>
        <div class="main__table-container">
            <table>
                <tr class="main__table-title">
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de liberación</th>
                    <th>Fecha de reestructuración</th>
                    <th>BORRAR</th>
                </tr>
                <tr>
                    <td><img class="main__table-icon" src='./../assets/notAvailable.png' /></td>
                    <td>Producto 1</td>
                    <td>Este producto tiene una descripción muy larga</td>
                    <td>01/01/2024</td>
                    <td>01/01/2024</td>
                    <!-- <td><img class="main__action-icon" src='./../assets/3dots.svg' /></td> -->
                    <td>
                        <div class="main__action-options">
                            <img class="main__action-icon" src='./../assets/3dots.svg' />
                            <div class="main__options-content">
                              <span> Actualizar item </span>
                              <span> Eliminar item </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><img class="main__table-icon" src='./../assets/notAvailable.png' /></td>
                    <td>Producto 1</td>
                    <td>Este producto tiene una descripción muy larga Este producto tiene una descripción muy larga Este producto tiene una descripción muy larga Este producto tiene una descripción muy larga Este producto tiene una descripción muy larga Este producto tiene una descripción muy larga</td>
                    <td>01/01/2024</td>
                    <td>01/01/2024</td>
                    <td>
                        <div class="main__action-options">
                            <img class="main__action-icon" src='./../assets/3dots.svg' />
                            <div class="main__options-content">
                              <span> Actualizar item </span>
                              <span> Eliminar item </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><img class="main__table-icon" src='./../assets/notAvailable.png' /></td>
                    <td>Producto 1</td>
                    <td>Este producto tiene una descripción muy larga</td>
                    <td>01/01/2024</td>
                    <td>01/01/2024</td>
                    <td>
                        <div class="main__action-options">
                            <img class="main__action-icon" src='./../assets/3dots.svg' />
                            <div class="main__options-content">
                              <span> Actualizar item </span>
                              <span> Eliminar item </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><img class="main__table-icon" src='./../assets/notAvailable.png' /></td>
                    <td>Producto 1</td>
                    <td>Este producto tiene una descripción muy larga</td>
                    <td>01/01/2024</td>
                    <td>01/01/2024</td>
                    <td>
                        <div class="main__action-options">
                            <img class="main__action-icon" src='./../assets/3dots.svg' />
                            <div class="main__options-content">
                              <span> Actualizar item </span>
                              <span> Eliminar item </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="main__table-bottom-container">
            <div class="">5 Resultados</div>
            <div class="main__action-options">
                <div class="main__dropdown-text">
                    <span>5</span>
                    <img class="care_down-icon" src='./../assets/caretDown.svg' />
                </div>
                <div class="main__options-content">
                    <span>5</span>
                    <span>10</span>
                    <span>20</span>
                </div>
            </div>
        </div>
    </div>
</div>
