
.home__table-icon {
    width: 35px;
}

.home__table-container {
    background-color: #fff;
}

.home__action-icon {
    width: 20px;
}

.home__actions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.home__table-title {
    background-color: #f9fafc;
}

.home__action-options {
    position: relative;
    display: inline-block;
    color: #6d6a6a;
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
}

.home__options-content {
    z-index: 2;
    min-width: 130px;
}
.home__options-content {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}

.home__action-options:hover .home__options-content {
    display: block;
}

.home__action-options .home__options-content span {
    display: block;
    padding: 8px 12px;
    color: #333;
}

.home__table-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0px 20px 0px;
}

.home__dropdown-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #76767a;
    border-radius: 5px;
    width: 40px;
    padding: 5px 0px;
    
}

.home__care_down-icon {
    width: 8px;
}

.home__care-icon {
    width: 13px;
    color: red;
    cursor: pointer;
}

.home__change-page {
    width: 30px;
    display: flex;
    justify-content: space-between;
}