<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="product_form__form-container">
        <app-input-form
            formControlName="id"
            title="ID"
            [errorMessage]="getErrorMessage('id')"
            [disabled]="this.screenMode === 'update'"
        />
        <app-input-form
            formControlName="name"
            title="Nombre"
            [errorMessage]="getErrorMessage('name')"
        />
        <app-input-form
            formControlName="description"
            title="Descripción"
            [errorMessage]="getErrorMessage('description')"
        />
        <app-input-form
            formControlName="logo"
            title="Logo"
            [errorMessage]="getErrorMessage('logo')"
        />
        <app-input-form
            type="date"
            formControlName="date_release"
            title="Fecha liberación"
            [errorMessage]="getErrorMessage('date_release')"
        />
        <app-input-form
            type="date"
            formControlName="date_revision"
            title="Fecha revisión"
            [errorMessage]="getErrorMessage('date_revision')"
        />
    </div>
    <div class="product_form__buttons-container">
        <button
            type="submit"
            class="button-secondary"
            (click)="onReset()">Reiniciar</button
        >
        <button
            class="button-primary"
            type="submit"
        >
            Enviar
        </button>
    </div>
</form>
