body {
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F4F6F9;
}
nav {
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

table {
    color: #76767a;
}

th {
    padding: 10px 10px;
    font-size: 15px;
}

td {
    text-align: center;
    font-size: 13px;
}

hr {
    width: 100%;
    border-color: #fff;
}

input {
    box-shadow: none;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
    padding: 0px 8px;
    outline:none;
    min-width: 200px;
}

.button-primary {
    background: #FFDD00;
    font-size: 14px;
    color: #0F265C;
    padding: 6px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    box-shadow: none;
    border: none;
    font-weight: bold;
    text-align: center;
    min-width: 120px;
    box-sizing: border-box;
    height: 42px;
    cursor: pointer;
}

.button-secondary {
    background: #E9ECF3;
    font-size: 14px;
    color: #0F265C;
    padding: 6px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    box-shadow: none;
    border: none;
    font-weight: bold;
    text-align: center;
    min-width: 120px;
    box-sizing: border-box;
    height: 42px;
    cursor: pointer;
}

.app-screen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fff;
    width: auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0px;
    padding: 30px;

}


.dropdown__options {
    position: relative;
    display: inline-block;
    color: #6d6a6a;
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
}

.dropdown__options-content {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}

.dropdown__options:hover .dropdown__options-content {
    display: block;
}

.dropdown__options .dropdown__options-content span {
    display: block;
    padding: 8px 12px;
    color: #333;
}

.home__actions-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}