.confirm-modal {
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.46);
    z-index: 2000;
    overflow: hidden;
}

.confirm-modal__card {
    position: absolute;
    width: 50%;
    top: 25%;
    left: 25%;
}

.confirm-modal__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    border-top: 1px solid #e2e2e2;
    padding: 0px;
    padding-top: 20px;

}

.sep-button {
    height: 100%;
    width: 20px;
}